    <table summary="This layout table is used to present the weekly course schedule." class="table table-bordered">
      <thead>
        <tr>
          <th></th> <!-- top left space -->
          <% (-6..-2).each do |i| %>
            <th scope="col" ><%= Date::DAYNAMES[i] %></th>
          <% end %>
        </tr>
      </thead>
      <tbody>
      <% (0...24).each do |i| %>
        <tr class="<%= i.to_s %>">
          <th scope="row" ><%= Time.now.change(hour: i).strftime("%l:%M %p") %></th>
          <% (0...5).each do |j| %>
            <td class="<%= @days_abbr[j] %>">
              <% @courses.each do |c| %>
                <% if c.days.split().include? @days_abbr[j] and !@init %>
                  <% if c.beg_time[/(A|P)/] == "P" %>
                    <% if c.beg_time[/^[^:]*/].to_i%24 == i %>
                      <div class="<%= c.crn %>"><%= c.title %></div>
                    <% end %>
                  <% else %>
                    <% if c.beg_time[/^[^:]*/].to_i == i %>
                      <div class="<%= c.crn %>"><%= c.title %></div>
		    <% end %>
                  <% end %>
                <% end %>
              <% end %>
            </td>
          <% end %>
        </tr>
      <% end %>
      </tbody>
    </table>
