
<div class="sched_build row-fluid">
  <div class="sched_table span7">
    <table summary="This layout table is used to present the weekly course schedule." >
      <tr>
        <th>
        <% (-6..0).each do |i| %>
          <th scope="col" ><%= Date::DAYNAMES[i] %>
        <% end %>
      </tr>
      <% (0...24).each do |i| %>
        <tr>
          <th scope="row" ><%= Time.now.change(hour: i).strftime("%l:%M %p") %>
          <% (1..7).each do %>
            <td>
          <% end %>
        </tr>
      <% end %>
    </table>
  </div>
  <div class="sched_menu span5">
    <label class="radio inline" for="course_title"><input id="course_title" name="course" type="radio" value="course_title" />Course Title</label>
    <label class="radio inline" for="course_num"><input id="course_num" name="course" type="radio" value="course_num" />Course Number</label>
    <label class="radio inline" for="both"><input id="both" name="course" type="radio" value="both" checked />Both</label>
    <ul id="selectable" >
    <% @courses.each do |elm| %>
      <% if elm[:beg_time].blank? %>
        <li><span class="course_title"><%= elm[:title] %></span><span class="slash">/</span><span class="course_num"><%= elm[:course] %></span>: Online
      <% elsif elm[:title].blank? %>
        <li>&uarr;&nbsp;&nbsp;&nbsp;&nbsp;<%= elm[:beg_time]+"-"+elm[:end_time] %>
      <% else %>
        <li><span class="course_title"><%= elm[:title] %></span><span class="slash">/</span><span class="course_num"><%= elm[:course] %></span><%= ": "+elm[:beg_time]+"-"+elm[:end_time] %>
      <% end %>
    <% end %>
    </ul>
  </div>
</div>